@font-face {
	font-family: "Young serif";
	src: url("/assets/fonts/young-serif/young-serif-regular.woff2")
			format("woof2"),
		url("/assets/fonts/young-serif/young-serif-regular.woff") format("woff"),
		url("/assets/fonts/young-serif/young-serif-regular.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "Outfit";
	src: url("/assets/fonts/outfit/outfit-variable-font.woff2") format("woff2"),
		url("/assets/fonts/outfit/outfit-variable-font.woff") format("woff"),
		url("/assets/fonts/outfit/outfit-variable-font.ttf") format("truetype");
	font-weight: 400 700;
}

:root {
	--nutmeg: lch(37.46% 35.76 42.6);
	--dark-raspberry: lch(30.44% 39.52 354.77);
	--white: lch(100% 0 0);
	--rose-White: lch(97.34% 4.4 344.3);
	--eggshell: lch(92% 9.1 69.63);
	--light-grey: lch(88.7% 3.9 70.2);
	--wenge-brown: lch(37% 6.9 69.13);
	--dark-charcoal: lch(18.9% 1.9 59.5);
}

html,
body {
	height: 100dvh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

h1,
h2 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

body {
	font-family: "Outfit", Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
}
